@page
@using System.Security.Claims;
@model Todo.Web.Server.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Todo App</title>
    <base href="/" />
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />
    <link href="css/app.css" rel="stylesheet" />

    <!-- If you add any scoped CSS files, uncomment the following to load them
    <link href="Todo.Web.Client.styles.css" rel="stylesheet" /> -->
</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <component type="typeof(Todo.Web.Client.TodoApp)" param-CurrentUser="@User.FindFirstValue(ClaimTypes.NameIdentifier)" render-mode="WebAssembly" />
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
