@page
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (Model.TodoToken is { } todoToken)
{
    <div>@todoToken</div>
    <ul>
    @foreach (var todo in Model.Todos)
    {
        <li>@todo.ToJsonString()</li>
    }
    </ul>
}